<h1>Welcome to React on Rails!</h1>
<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
